textarea {
    outline: none;
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    text-align: center;
    resize: none;
    line-height: 150%;
    cursor:text;
}

.text-spacer {
    white-space: pre-line;
    display: inline-block;
    color: white;
}

#caret {
    display: inline-block;
    background: black;
    height: 20px;
    width: 1px;

    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

.error-msg {
    font-size: small;
    color: red;
    white-space: pre-line;
}

/*#container {*/
/*    !*width: 800px;*!*/
/*    !*height: 100px;*!*/
/*    position: relative;*/
/*}*/
/*#editable-textarea {*/
/*    width: 700px;*/
/*    !*height: 100%;*!*/
/*    position: absolute;*/
/*    !*top: 0;*!*/
/*    left: -250px;*/
/*}*/
/*#uneditable-div {*/
/*    width: 700px;*/
/*    !*height: 100%;*!*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: -500px;*/
/*    z-index: 10;*/
/*}*/

@keyframes blink {
    from {
        opacity: 1;
    }

    49.9% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    99.9% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
